/* @import url("reset.css"); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
	--verde-Pastel: #77dd77;
	--verde-Oscuro:#007b5f;
	--dorado: #f7c600;
	
    
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    
    /* Sticky Footer Styles */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

