@import url("comun.css");
@import url("/parciales/cabecera.css");
@import url("/parciales/footer.css");


/* Estilos básicos del cuerpo y fondo */
section {
	background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 15px;
    margin: 0;
}

/* Contenedor general del formulario */
form {
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 500px;
}

/* Estilización de la cabecera del formulario */
section h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo de los contenedores para cada campo */
.labCurso {
    margin-bottom: 20px;
}

/* Estilos para las etiquetas */
label {
    display: block;
    color: #666;
    margin-bottom: 8px;
}

/* Estilos para los inputs de texto y archivo */
input[type="text"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Asegura que padding no afecte el ancho total */
}

/* Estilos para el botón de envío */
.labCurso button {
    width: 100%;
    padding: 10px;
    background-color: #77dd77;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.labCurso button:hover {
    background-color: #007b5f;
}

/* Respuesta a cambios de tamaño de pantalla */
@media (max-width: 600px) {
    form {
        padding: 20px;
    }
}
