@import url("comun.css");
@import url("/parciales/cabecera.css");
@import url("/parciales/footer.css");

section h1 {
	margin-left: 40px;
	font-size: 30px;
	color: var(--verde-Oscuro);
}

.tCursos {
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
/*    margin-top: 20px;*/
/*    margin-bottom: 20px;*/
	margin: 30px;
}

.cursos {
    /* margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px; */
    margin: 10px;
    background-color: #ececec;
}

.detalle-cursos {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* margin: 2px; */
    border: 3px solid gray;
    box-shadow: 8px 8px 6px rgba(0, 0, 0, 0.10), 0 3px 6px rgba(0, 0, 0, 0.10);
    width: 350px;
    height: 250px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20px 1fr 1fr 1fr;
/*    grid-template-rows: 1fr 30px 1fr 1fr 1fr;*/
}


.detalle-cursos img {
    width: 150px;
    height: 150px;
    grid-column: 2/3;
    grid-row: 2/4;
    align-self: center;
    /* justify-self: center; */
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.10);
    margin-top: 4px;
}


.detalle-cursos h4 {
    font-size: 20px;
    font-weight: bold;
    grid-column: 1/3;
    grid-row: 4;
    align-self: center;
    justify-self: center;
    color: var(--verde-Pastel);
}

.entrar {
    border-radius: 10px;
    grid-column: 3;
    grid-row: 4;
    height: 50px;
    width: 80px;
    justify-self: center;
    align-self: center;
    cursor: pointer;
}

.entrar i {
	font-size: 20px;
	
}

.newCurso {
	background-color: gray;
	width: 50px;
	height: 50px;
	display: flex;
	align-self: flex-end;
	margin: 10px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.newCurso:hover {
	background-color: black;
}

.newCurso i {
	color: white;
	font-size: 20px;
	
}

