<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<title>Fragmento de Menú</title>
</head>

<body>
	<header th:fragment="cabeceraMenu">
		<div class="logo-title">
			<a th:href="@{/}"><img th:src="@{/images/Logo.png}" alt="Ivern Nature Logo" class="logo"></a>
			<h1>Ivern Nature</h1>
		</div>
		<nav class="main-nav">
			<ul>
				<li><a th:href="@{/}">Inicio</a></li>
				<li><a th:href="@{/acercaDe}">Acerca de</a></li>
				<li><a th:href="@{/cursos}">Cursos</a></li>
				<li><a th:href="@{/contacto}">Contacto</a></li>
			</ul>
		</nav>

		<div class="user-icon">
			<button class="usu"><i class="fas fa-user"></i></button>
			<div class="submenu oculto">
				<button sec:authorize="hasAnyAuthority('ADMIN', 'ROLE_ADMIN')"><a th:href="@{/usuarios}">Perfiles</a></button>
								<button sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Iniciar sesión</a></button>
								<button sec:authorize="isAuthenticated()">
				                    <form th:action="@{/logout}" method="post" style="display:inline;">
				                        <input type="submit" value="Cerrar sesión" style="background:none; border:none; cursor:pointer; font-family:inherit; font-size:inherit; color:inherit; width: 100%; text-align: center;"/>
				                    </form>
				                </button>
			</div>
		</div>
	</header>
</body>

</html>